
/* alle kleuren naar die root veranderen en alle pixels in EM veranderen! */




section:nth-of-type(1){
    background-image: url("https://img.hellofresh.com/c_fill,f_auto,fl_lossy,h_820,q_auto:eco,w_840/hellofresh_website/gb/cms/homepage/HF_App_web_landing_page_newbanners_desktop_767x410.jpg");
    min-height: 410px; /* bah px */
    /* padding-bottom: 20px; */
    /* padding-top: 20px; */
    padding:1.125em;
    /* background-repeat: no-repeat; */
    background-size: cover;
    /* width: 100%; */
    /* display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    display:grid;
    place-content: center;
    place-items: center;
    /* sanne vindt grid ok  - flex trouwens ook */
    text-align: center;
}

h1{
  color: rgb(36, 36, 36);
    margin: 0px;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    padding-bottom: 10px;
}

section:nth-of-type(1) a{
    font-weight: 400px;
    font-size: 16px;
    border-radius: 3px;
    font-family: Agrandir,sans-serif;
    color: #FFFFFF; /* veranderen naar die root ding  */
    background-color: #067A46;   /* veranderen naar die root ding  */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    text-decoration: none;
    text-align: center;
    padding: 12px 36px;
    text-decoration: none;
}

section:nth-of-type(1) p {
    color: inherit;
    font-family: "Source Sans Pro", "Trebuchet MS", Helvetica, sans-serif;
    margin: 0px;
    text-align: center;
    font-size: 20px;
    line-height: 32px;
}


section:nth-of-type(2) {
padding-top: 20px;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column; 
padding-bottom: 20px;
}

section:nth-of-type(2) h3 {

  font-family: "Source Sans Pro", "Trebuchet MS", Helvetica, sans-serif;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.3px;
  color: #242424;
  font-size: 18px;
  text-align: center;
}


section:nth-of-type(2) p {
  font-family: "Source Sans Pro","Trebuchet MS",Helvetica,sans-serif;
  display: block;
  margin: auto;
  line-height: 20px;
  width: 100%;
  text-align: center;
  padding-bottom: 30px;
}

section:nth-of-type(4) {
display: flex;
flex-direction: column;
justify-content: center;
margin: auto;
}

section:nth-of-type(4) img {
  width: 375px;
  height: 303px;
  justify-content: center;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

section:nth-of-type(4) h3 {
  font-family: "Source Sans Pro","Trebuchet MS",Helvetica,sans-serif;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.3px;
    font-size: 20px;
    margin-bottom: 5px;
    justify-content: center;
    padding-top: 30px;
    margin: auto;
}

section:nth-of-type(4) h4 {
  font-family: "Source Sans Pro","Trebuchet MS",Helvetica,sans-serif;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.3px;
    font-size: 16px;
    margin-bottom: 5px;
    margin: auto;
}

section:nth-of-type(4) p {
    font-weight: 400;
    line-height: 20px;
    color: #242424;
    display: block;
    padding: 0 30px;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
}

section:nth-of-type(4) a {
  color: #067A46;
  /* display: inline-block; */
  display: table;
  vertical-align: text-bottom;
  font-size: 16px;
  padding-left: 24px;
  padding-right: 24px;
  min-height: 40px;
  line-height: 40px;
  background-color: transparent;
  border-style: solid;
  border-width: 1px;
  border-color: #067A46;
  box-shadow: none;
  border-radius: 4px;
  margin: auto;
  text-decoration: none;
}

section:nth-of-type(4) strong {
  padding-top: 20px;
  border-bottom: 1px solid #EEEEEE;
  padding-bottom: 40px;
  text-align: center;
  background-color: #FFFFFF;
}
section:nth-of-type(5) {
    background-color: #FFFFFF;
    padding-bottom: 25px;
} 

section:nth-of-type(5) h3 {

font-family: Agrandir,sans-serif;
font-weight: 600;
line-height: 24px;
-webkit-letter-spacing: -0.3px;
-moz-letter-spacing: -0.3px;
-ms-letter-spacing: -0.3px;
letter-spacing: -0.3px;
color: #242424;
font-size: 18px;
text-align: center;
font-size: 24px;
padding: 30px 0 5px 0;

}

section:nth-of-type(5) p {
  color: #676767;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  }
















/********************/
/* ALGEMENE STIJLEN */
/********************/

*, *::before, *::after {
    box-sizing: border-box;
  }
  
  :root {
      --maxWidth:32rem;
  }
  
  body {
      grid-template-columns: minmax(auto, var(--maxWidth));
      justify-content:center;
  }
  








    
  /******************************/
  /* DE CAROCARROUSEL CONTAINER */
  /******************************/
  
  .caroCarrousel {
      /* basis waarden die door de hele carrousel gebruikt worden */
      /* kun je zelf aanpassen */
      --caroCarrouselMainColor:#333;
    --caroCarrouselAccentColor:#1b75b3;
      --caroCarrouselShadeColor:#ddd9;
  
    position: relative;
      outline:none;
      padding-bottom: 1em;
      border-bottom: 1px solid #EEEEEE;
      padding-bottom: 60px;
     
  }
  
  /* dark mode */
  @media (prefers-color-scheme: dark) {
    .caroCarrousel {
      --caroCarrouselMainColor:#ccc;
      --caroCarrouselShadeColor:#4449;
    }
  }
  
  
  /************************************/
  /* de carrousel elementen container */
  .caroCarrousel > ul {
    margin: 0; padding: 0;
    list-style: none;
      display: flex;
      
      /* handmatig scrollen is mogelijk */
      overflow: hidden;
      
      /* snappen als er gescrolled wordt - andere helft bij li */
    scroll-snap-type: inline mandatory;
    
    /* smooth als met js gescrolled wordt */
      scroll-behavior: smooth;
    
    /* scrollbar zoveel mogelijk verbergen */
    -webkit-overflow-scrolling: touch; /* voor iOS*/
    -ms-overflow-style: none; /* voor IE */
      scrollbar-width: none; /* voor firefox */
  }
  
  .caroCarrousel > ul::-webkit-scrollbar {
    /* scrollbar zoveel mogelijk verbergen */
    display: none; /* voor chrome, safari en edge*/
  }
  
  
  /**************************/
  /* de carrousel elementen */
  .caroCarrousel > ul li {
    flex-basis: 85%;
    flex-shrink: 0;
    /* snappen als er gescrolled wordt - andere helft bij ul */
      scroll-snap-align:center;
  }
  
  
  /**********************************/
  /* de carrousel elementen content */
  
  /* de stijlen voor jouw content hier */
  .caroCarrousel > ul li > img {
    display: block;
    width: 324px;
    height: 405px;
    max-width: 100%;
    object-fit: cover;
    margin: auto;
  }
  
  .caroCarrousel > ul li > p {
    font-weight: 400;
    line-height: 20px;
    color: #242424;
    font-size: 14px;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: block;
    padding: 0 30px;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
}

  .caroCarrousel > ul li > h4 {
    font-family: Agrandir,sans-serif;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.3px;
    color: #242424;
    font-size: 16px;
    margin-bottom: 5px;
    text-align: center;
  }
  
  /****************/
  /* DE BOLLETJES */
  /****************/
  
  /* de bolletjes container */
  .caroCarrousel nav ul {
    position: absolute;
      left: 2em; right: 2em;
      margin: 0;
    padding: 0 0 .5em;
    list-style: none;
      
      display: flex;
  /* 	flex-wrap:wrap; */
    justify-content: center;
    gap:.4em;
  }
  
  /* een bolletje container */
  .caroCarrousel > nav li {
      flex-basis: 1.2em;
      aspect-ratio: 1/1;
  }
  
  /* de bolletjes */
  .caroCarrousel > nav a {
    cursor: pointer;
    display: inline-block;
    border-radius: 50%;
    border: 0;
    background-color: #FFFFFF;
    width: 10px;
    height: 10px;
    border: 1px solid #067A46;
  }
  
  .caroCarrousel > nav a:hover,
  .caroCarrousel > nav a:focus {
    color: var(--caroCarrouselAccentColor);
  }
  
  .caroCarrousel > nav a.current {
    cursor: pointer;
    display: inline-block;
    border-radius: 50%;
    border: 0;
    background-color: #067A46;
    width: 10px;
    height: 10px;
    background-color: #067A46;
    border: 1px solid #067A46;
  }


  .caroCarrousel > ul li > h3 {
    font-family: Agrandir,sans-serif;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.3px;
    color: #242424;
    font-size: 16px;
    margin-bottom: 5px;
    text-align: center;
  }


/* .Carrousel2{

  overflow: hidden;
  touch-action: pan-y;
  position: relative;
  overflow-x: scroll;
  -webkit-scrollbar-width: none;
  -moz-scrollbar-width: none;
  -ms-scrollbar-width: none;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding: 22px 0;
  margin: 0;
} */

/* position: absolute;
    width: 262px;
    height: 315px;
    border-radius: 5px;
    background-image: linear-gradient(0deg,rgba(0,0,0,0) 45%,black);
    box-shadow: rgb(228 228 228) 0px 3px 3px;
    z-index: 1;
} */


/* Carrousel 2 */


main section:nth-of-type(6) {
  /* basis waarden die door de hele carrousel gebruikt worden */
  /* kun je zelf aanpassen */
  --caroCarrouselMainColor:#333;
--caroCarrouselAccentColor:#1b75b3;
  --caroCarrouselShadeColor:#ddd9;

position: relative;
  outline:none;
  padding-bottom: 1em;
  border-bottom: 1px solid #EEEEEE;
  padding-bottom: 40px;
  background-color: #FFFFFF;
 
}

  
section:nth-of-type(6) {
  border-bottom: 1px solid #EEEEEE;
} 

section:nth-of-type(6) a{
color: #067A46;
/* display: inline-block; */
display: table;
vertical-align: text-bottom;
font-size: 16px;
padding-left: 24px;
padding-right: 24px;
min-height: 40px;
line-height: 40px;
background-color: transparent;
border-style: solid;
border-width: 1px;
border-color: #067A46;
box-shadow: none;
border-radius: 4px;
margin: auto;
text-decoration: none;
}

/* dark mode */
@media (prefers-color-scheme: dark) {
.caroCarrousel2 {
  --caroCarrouselMainColor:#ccc;
  --caroCarrouselShadeColor:#4449;
}
}


/************************************/
/* de carrousel elementen container */
main section:nth-of-type(6) ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap:1em;
  padding:0 1.25em;
  padding-bottom: 40px;
  /* handmatig scrollen is mogelijk */
  overflow: auto;
  
  /* snappen als er gescrolled wordt - andere helft bij li */
scroll-snap-type: inline mandatory;

/* smooth als met js gescrolled wordt */
  scroll-behavior: smooth;

/* scrollbar zoveel mogelijk verbergen */
-webkit-overflow-scrolling: touch; /* voor iOS*/
-ms-overflow-style: none; /* voor IE */
  scrollbar-width: none; /* voor firefox */
}

main section:nth-of-type(6) ul::-webkit-scrollbar {
/* scrollbar zoveel mogelijk verbergen */
display: none; /* voor chrome, safari en edge*/
}


/**************************/
/* de carrousel elementen */
main section:nth-of-type(6) ul li {
flex-basis: 70%;
flex-shrink: 0;
/* snappen als er gescrolled wordt - andere helft bij ul */
  scroll-snap-align:center;
  position: relative;
}


/**********************************/
/* de carrousel elementen content */


main section:nth-of-type(6) ul li h3 {
  position:absolute;
  left:0;
  right:0;
  top:0;
  margin:0;
  min-height:10em;
  background-image: linear-gradient(#000c, #0000);
  color:white;
  padding:1em; 
  border-radius:5px 5px 0 0;
}

main section:nth-of-type(6) ul li p {
  color: #FFFFFF;
  font-family: Agrandir,Verdana,Geneva,sans-serif;
  line-height: 24px;
  margin-bottom: 8px;
  max-width: 80%;
  position: absolute;
  top: 30px;
  left: 18px;
}

/* de stijlen voor jouw content hier */
main section:nth-of-type(6) ul li > img {
display: block;
width: 100%;
object-fit: cover;
border-radius: 5px;
margin: auto;
box-shadow: rgb(228 228 228) 0px 3px 3px;
height: 315px;
}


section:nth-of-type(7) {
  max-width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  padding-bottom: 20px;
}

section:nth-of-type(7) h4{
  font-family: Agrandir,sans-serif;
  font-weight: 400;
  line-height: 28px;
  color: #242424;
  font-size: 20px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
}


section:nth-of-type(8){
    background-image: url("https://img.hellofresh.com/c_fill,f_auto,fl_lossy,h_820,q_auto:eco,w_840/hellofresh_website/gb/cms/homepage/HF_App_web_landing_page_newbanners_desktop_767x410.jpg");
    min-height: 410px; /* bah px */
    /* padding-bottom: 20px; */
    /* padding-top: 20px; */
    padding:1.125em;
    /* background-repeat: no-repeat; */
    background-size: cover;
    /* width: 100%; */
    /* display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    display:grid;
    place-content: center;
    place-items: center;
    /* sanne vindt grid ok  - flex trouwens ook */
    text-align: center;
}

section:nth-of-type(8) a{
  font-weight: 400px;
  font-size: 16px;
  border-radius: 3px;
  font-family: Agrandir,sans-serif;
  color: #FFFFFF; /* veranderen naar die root ding  */
  background-color: #067A46;   /* veranderen naar die root ding  */
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  text-decoration: none;
  text-align: center;
  padding: 12px 36px;
}

section:nth-of-type(8) p {
  color: inherit;
  font-family: "Source Sans Pro", "Trebuchet MS", Helvetica, sans-serif;
  margin: 0px;
  text-align: center;
  font-size: 17px;
  line-height: 32px;
  padding-bottom: 20px;
}

/* footer{


} */