/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button, summary {
	cursor: pointer;
}


html{
	font-family: "Source Sans Pro", "Trebuchet MS", Helvetica, sans-serif;
}
body{
	margin: 0;
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

nav{
	box-shadow: rgb(0 0 0 / 15%) 0px 2px 4px 0px;
	position: sticky;
}

nav img{
	width: 92px;
	height: 30px;
	display: flex;
	flex-direction: row;
    justify-content: center;
	
}

/* ul{
	display: ;
} */