/* KLEUR VERANDEREN NAAR ROOT EN PIXELS NAAR EM */



/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
	box-sizing:border-box;  
  }
  
  button, summary {
	  cursor: pointer;
  }
  
  
  html{
	  font-family: "Source Sans Pro", "Trebuchet MS", Helvetica, sans-serif;
  }
  body{
	  margin: 0;
  }
  
  
  /*********************/
  /* CUSTOM PROPERTIES */
  /*********************/
  :root {
	  /* startje */
	  --color-text:#111;
	  --color-background:#eee;
  }
  
  
  
  
  
  /****************/
  /* JOUW STYLING */
  /****************/
  
  /* jouw code */
  
  nav{
	  box-shadow: rgb(0 0 0 / 15%) 0px 2px 4px 0px;
	  position: sticky;
  }
  
  nav img{
	  width: 92px;
	  height: 30px;
	  display: flex;
	  flex-direction: row;
	  justify-content: center;
	  
  }
  
  /* ul{
	  display: ;
  } */
  
  /* scroll naar beneden om de uitwerking te bekijken */
  
  /* Simpele CSS Remedy */
  /* naar een idee van Jen Simmons */
  /* https://github.com/jensimmons/cssremedy */
  *, *::after, *::before {
	  box-sizing:border-box;  
	}
	
	button:not(disabled) {
	  cursor:pointer;
	}
	
	
	/*********************/
	/* CUSTOM PROPERTIES */
	/*********************/
	:root {
	  --general-color:#012;
	  --general-background:#fff;
	  
	  --header-gradient:linear-gradient(#f8a, #fbd);
	  
	  --menu-gradient:linear-gradient(#8af, #bdf);
	  --menu-border:#46f;
	  
	  --button-color:#fff;
	  --button-background:#f46;
	  
	  --title-gradient:linear-gradient(#f46 40%, #f8a 80%);
	}
	
	
	
	
	
	/********************/
	/* ALGEMENE STIJLEN */
	/********************/
	body {
	  margin:0;
	  background-color:var(--general-background);
	  color:var(--general-color);
	}
	
	
	
	
	
	/******************************************************/
	/* styling voor de small-screen versie van de website */
	/******************************************************/
	
	/*************/
	/* DE HEADER */
	/*************/
	header {
	  min-height:4em;
	  padding:0 1em;
	  background-color: rgb(255, 255, 255);
	  line-height:1;
	  box-shadow: rgb(0 0 0 / 15%) 0px 2px 4px 0px;
	  /* JOUW CODE HIER - stap 3 */
	  display:flex;
	  justify-content:space-between;
	  align-items:center;
	  position:sticky;
	  top:0;
	  z-index: 1;
	}
	
	/* alle links in de header */
	header a {
	  padding:.5em 0;
	  color:var(--general-color);
	  text-decoration:none;
	}
	
	
	
	
	
	/********/
	/* LOGO */
	/********/
	header > a:first-of-type {
	  /* om het boek en de titel te positioneren */
	  display:grid;
	  grid-template-columns:min-content min-content;
	  grid-gap:.25em;
	  align-items:center;
	  margin: auto;
	  font-weight:bold; 
	}
	
	header > a:first-of-type img {
	  height: 30px;
	}
	
	
	
	
	
	
	
	/*****************/
	/* BEIDE BUTTONS */
	/*****************/
	header button {
	  padding:.5em;
	  
	  /* icon en tekst met gap-je naast elkaar */
	  display:flex;
	  align-items:center;
	  gap:.25em;
	  
	  /* standaard styling aanpassen */
	  appearance:none;
	  background-color: black;
	  border:none;
	  border-radius:.25em; 
	  font:inherit;
	  text-align:center;
	  color:var(--button-color);
	}
	
	header button img {
	  height:1em;
	}
	
	
	
	/***************/
	/* MENU BUTTON */
	/***************/
	header > button {
	  /* JOUW CODE HIER - stap 3 */
	  order:-1;
	}
	
	
	
	/***************/
	/* SLUIT BUTTON */
	/***************/
	nav button {
	 justify-self:start;
	}
	
	
	
	
	
	/************/
	/* HET MENU */
	/************/
	header > nav {
	  padding:1em;
	  display:grid;
	  align-content:start;
	  gap:1em;
	  background-color: rgb(255, 255, 255);
	  box-shadow: rgb(0 0 0 / 15%) 0px 2px 4px 0px;
	  /* JOUW CODE HIER - stap 1 */
	  position:fixed;
	  left:0;
	  right:0;
	  top:0;
	  bottom:0;
	  width: 250px;
	  
	  /* JOUW CODE HIER - stap 2 */
	  transform:translatex(-100%);
	  
	  /* JOUW CODE HIER - stap 4 */
	  transition:transform .3s;
	}
	
	/* als menu open is */
	nav.toonMenu {
	  /* JOUW CODE HIER - stap 4 */
	  transform:translatex(0);
	}
	
	
	
	
	
	/*******************/
	/* LIJST MET LINKS */
	/*******************/
	nav ul { 
	  margin:0; 
	  padding:0em;
	  list-style:none;
	}
	
	
	
	/************************/
	/* EEN LINK IN DE LIJST */
	/************************/
	nav a {
	  /* icon en tekst met gap-je naast elkaar */
	  display:flex;
	  align-items:center;
	  column-gap:.25em;
	  
	  border-bottom:solid 1px var(--menu-border);
	}
	
	nav a img {
	  width:auto;
	  height:2em;
	}
	
	nav a.active {
	  font-weight:bold;
	}
	
	
	
	
	
	/****************************************************************/
	/* styling voor de header als de browser minimaal 38em breed is */
	/****************************************************************/
	@media (min-width:38em) {
	  header > button {
		/* JOUW CODE HIER - stap 6 */
		display:none;
	  }
	  
	  nav {
		/* JOUW CODE HIER - stap 7 */
		position:static;
		transform:none;
		padding:0;
		
		background:none;
	  }
	  
	  nav button {
		/* JOUW CODE HIER - stap 6 */
		display:none;
	  }
	  
	  nav ul {
		/* JOUW CODE HIER - stap 8 */
		display:flex;
		gap:1em;
	  }
	  
	  nav a {
		/* JOUW CODE HIER - stap 9 */
		flex-direction:column;
		
		border:none;
	  }
	  
	  header > a:last-of-type {
		/* JOUW CODE HIER - stap 9 */
		flex-direction:column;
	  }
	}
	
	
	
	
	
	/****************************************************************/
	/* styling voor de header als de browser minimaal 57em breed is */
	/****************************************************************/
	@media (min-width:57em) {
	  header > a:last-of-type,
	  nav a {
		/* JOUW CODE HIER - stap 10 */
		flex-direction:row;
	  }
	}
	
	
	
	
	
	/***********/
	/* CONTENT */
	/***********/
	
  